@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: 'Poppins', sans-serif; }

h1 {
  color: #CF142C;
  text-align: center;
  font-weight: 700; }

h2 {
  color: #CF142C;
  margin-top: 2%;
  font-weight: 700;
  text-align: center; }

p {
  color: #006864;
  font-weight: 400; }

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  background-color: #e3eeee;
  padding: 1rem 1.5rem; 
  align-items: center;}
  nav ul {
    list-style: none;
    display: flex;
    gap: 5rem; }
  nav #toggle, nav label {
    display: none; }
  nav a img {
    width: 40px; }
  nav div ul li a {
    text-decoration: none;
    color: #CF142C;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; }
    nav div ul li a:hover {
      color: #006864; }

.banner a img {
  width: 100%;
  min-height: 150px; }

.info-empresa div {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: none;
  gap: none; }

.productos-expo {
  background-color: #006864; }
  .productos-expo h1 {
    color: white; }
  .productos-expo h2 {
    color: white; }
  .productos-expo section {
    display: flex;
    flex-direction: none;
    flex-wrap: wrap;
    justify-content: center;
    text-align: none;
    align-items: center;
    min-height: 100vh;
    background-color: #006864;
    padding: 5% 0; }

.main {
  background-image: url(../../assets/img/fondo-1440-1501.jpg);
  background-size: cover;
  padding: 2% 5%; }
  .main .historia {
    text-align: center;
    color: #006864;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem; }
    .main .historia .video {
      max-width: 100%; }
  .main .unidades-de-negocio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: none;
    gap: 3%;
    text-align: center;
    color: #006864;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    padding: 2% 0; }
    .main .unidades-de-negocio img {
      max-width: 100%; }
    .main .unidades-de-negocio p {
      margin: 2%;
      font-weight: 400; }
    .main .unidades-de-negocio div .vuela2 {
      display: none; }

.noticias {
  background: #006864;
  background: radial-gradient(circle, #006864 0%, rgba(227, 238, 238, 0.11) 83%, #cf142c 92%); }
  .noticias .novedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-template-areas: none;
    gap: 20px;
    margin-top: 5%; }
  .noticias .destacadas {
    padding: 2% 5%; }
    .noticias .destacadas .noticias-destacadas {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: none;
      gap: 3%;
      text-align: center;
      padding: 2% 0; }
      .noticias .destacadas .noticias-destacadas div p {
        color: #032336;
        font-weight: 700; }

.contactate {
  background-color: #006864;
  background-image: linear-gradient(62deg, #006864 0%, #cf142c 100%); }
  .contactate .container {
    width: 80%;
    padding: 45px;
    border-radius: 0; }
    .contactate .container .row {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }

footer {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: space-between;
  text-align: center;
  background-color: #e3eeee;
  padding: 1%;
  color: #CF142C;
  text-decoration: none;
  font-weight: 700;
  align-items: center;
  font-family: 'Poppins', sans-serif; }
  footer .clientes-proveedores a {
    color: #CF142C;
    text-decoration: none; }
  footer .clientes-proveedores ul {
    list-style-type: none; }
  footer .redes-sociales img {
    height: 35px;
    margin-left: 5px; }
  footer div p {
    color: #CF142C;
    font-weight: 700; }

.info-empresa article {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1% 5%; }
  .info-empresa article img {
    max-width: 50%; }
  .info-empresa article p {
    padding-left: 2%;
    font-size: 85%; }

.productos-expo section .productos {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px; }
  .productos-expo section .productos .cara {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .7s; }
  .productos-expo section .productos .frente {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000; }
    .productos-expo section .productos .frente img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .productos-expo section .productos .frente h3 {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 45px;
      line-height: 45px;
      color: #fff;
      background: rgba(0, 0, 0, 0.4);
      text-align: center; }
  .productos-expo section .productos .dorso {
    transform: perspective(600px) rotateY(180deg);
    background: #032336;
    padding: 10px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000; }
    .productos-expo section .productos .dorso .link {
      border-top: solid 1px #f3f3f3;
      height: 50px;
      line-height: 50px; }
      .productos-expo section .productos .dorso .link a {
        color: white; }
    .productos-expo section .productos .dorso h3 {
      font-size: 30px;
      margin-top: 20px;
      letter-spacing: 2px; }
    .productos-expo section .productos .dorso p {
      letter-spacing: 1px;
      color: white; }
  .productos-expo section .productos:hover .frente {
    transform: perspective(600px) rotateY(180deg); }
  .productos-expo section .productos:hover .dorso {
    transform: perspective(600px) rotateY(360deg); }

.novedades div {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
  color: #006864;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  align-items: center; }
  .novedades div img {
    max-width: 100%; }
  .novedades div p {
    margin: 10px 0; }
  .novedades div a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #006864;
    border: 1px solid #006864;
    border-radius: 4px;
    transition: all 400ms ease;
    font-family: 'Poppins', sans-serif; }
    .novedades div a:hover {
      background-color: mediumaquamarine;
      transform: scale(1.2); }
  .novedades div:hover {
    box-shadow: 5px 5px 200px black;
    transform: translateY(-3%); }

main .container .row .col-md-7 {
  background-color: white;
  padding: 20px; }
  main .container .row .col-md-7 .form-control {
    height: 52px;
    background: white;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    box-sizing: none !important;
    border: 1px solid #006864; }
  main .container .row .col-md-7 #exampleFormControlTextarea1 {
    height: 104px; }

main .container .row .col-md-5 {
  padding: 20px;
  background-color: #e3eeee; }
  main .container .row .col-md-5 .bi {
    font-size: 20px; }
  main .container .row .col-md-5 .d-flex p {
    font-size: 18px;
    padding-left: 18px; }

.error-404{
  text-align: center;
  position: absolute;
  top: 20%;
  width: 100%;}
  .error-404 img{
    width: 50%;
  }
@media (max-width: 767px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
    nav .menu ul {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 0px;
      gap: 3rem; }
  nav label {
    display: flex;
    color: #CF142C;
    cursor: pointer; }
  nav #toggle:checked ~ .menu, nav label:checked ~ .menu {
    height: 100%; }
  footer {
    flex-direction: column;
    text-align: center;
    gap: 10px; }
    footer .redes-sociales img {
      height: 30px; }
  .noticias .novedades {
    grid-template-columns: 1fr; }
  .info-empresa div {
    display: flex;
    flex-direction: column;
    padding: 3% 0; }
    .info-empresa div article {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 1 5%; }
      .info-empresa div article img {
        max-width: 100%; }
  .main .unidades-de-negocio {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10% 5%; }
    .main .unidades-de-negocio div .vuela {
      display: none; }
    .main .unidades-de-negocio div .vuela2 {
      display: inherit; }
  .main .vuela {
    display: none; }
  .contactate .container {
    width: 100%; }
  .noticias .destacadas .noticias-destacadas {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10% 5%; }
  .noticias h1 {
    color: #032336; }
  .noticias h2 {
    color: #032336; } }
@media (max-width: 374px) {
  .noticias h2{
    margin-top: 10%;
  }
  .contactate h1{
    color: #e3eeee;
  }
} 
