*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(00, 68, 64, 0.1);
    padding: 1rem 1.5rem;    
}

.logo img{
    width: 40px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 5rem;
}
a{
    text-decoration: none;
    color: #CF142C;
    font-family: 'Poppins', sans-serif;  
    font-size: medium;
}
a:hover{
    color: #006864;
}
nav #toggle, nav label{
    display: none;
}

/* Banner */
.foto-banner{
    width: 100%;
    min-height: 150px;
}

/* Sobre nosotros */

.info-empresa div{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
.card{
    display: flex ;
    align-items: center;
    text-align: center;
    margin: 1% 5%;
}
.card img{
    max-width: 50%;
}
.card p{
    color: #006864;
    font-family: 'Poppins', sans-serif; 
    padding-left: 2%;
    font-size: 85%;
}

/* Footer */
.footer{
    background-color: rgb(00, 68, 64, 0.1);
    padding: 1%;
    display: flex;
    justify-content: space-between;
    color: #CF142C;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    align-items: center;
}
.clientes-proveedores a{
    color: #CF142C;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.clientes-proveedores ul{
    list-style-type: none;
}
.redes-sociales img{
    height: 40px;
    margin-left: 5px;
}
/* page-quienes-somos */
/* main */

h1{
    color: #CF142C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
h2{
    color: #CF142C;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
}

.main{
    background-image: url(../assets/img/fondo-1440-1501.jpg);
    background-size: cover;
    padding: 2% 5%;

}
.historia{
    text-align: center;
    color: #006864;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
.historia .video{
    max-width: 100%;
}

.unidades-de-negocio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    color: #006864;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    gap: 3%;
    padding: 2% 0;

}
.unidades-de-negocio img{
    max-width: 100%;
}
.unidades-de-negocio p{
    margin: 2%;
}
.vuela2{
    display: none;
}


/* pagina novedades */
.sub-novedades{
    text-align: center;
}
.novedades {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.noticia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px; 
    color: #006864;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.noticia img {
    max-width: 100%;

}
.novedades .noticia p {
    margin: 10px 0; 
}
.boton{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #006864;
    border: 1px solid #006864;
    border-radius: 4px;
    transition: all 400ms ease;
    font-family: 'Poppins', sans-serif;
}
.noticia:hover{
    box-shadow: 5px 5px 200px rgba(0,0, 0, 4);
    transform: translateY(-3%);  
}
.boton:hover{
    background-color:mediumaquamarine;
    transform: scale(1.2);
}

/* pagina nuestros productos */
.productos-expo{
    background-color: #006864;
}
.productos-expo h1{
    color: white;
}
.nuestros-productos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #006864;
    padding: 5% 0;
}


.productos {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    
}

.productos .cara {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.productos .frente {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.productos .frente img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productos .frente h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.productos .dorso {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 10px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.productos .dorso .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.productos .dorso .link a {
    color: white;
}

.productos .dorso h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif; 
}

.productos .dorso p {
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif; 
} 

.productos:hover .frente {
    transform: perspective(600px) rotateY(180deg);
}

.productos:hover .dorso {
    transform: perspective(600px) rotateY(360deg);
}

/* bootstrap-contacto */

main .container{
    width: 80%;
    padding: 45px;
    border-radius: 0; 
}
.row{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;   
}
.col-md-7{
    padding: 20px;
}
.col-md-5{
    padding: 20px;
    background-color: rgb(00, 68, 64, 0.1);
}
.form-control{
    height: 52px;
    background: white;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    box-sizing: none !important;
    border: 1px solid rgb(00, 68, 64, 0.1);
}
.bi{
    font-size: 20px;
}

.d-flex p{
    font-size: 18px;
    padding-left: 18px;
}
#exampleFormControlTextarea1{
    height: 104px;
}

/* responsive */

@media(max-width:768px){
    nav .menu{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0px;
        gap: 3rem;
    }
    nav label{
        display: flex;
        color: #CF142C;
        cursor: pointer;
    }
    nav #toggle:checked ~ .menu{
        height: 100%;
 
    }
    .footer{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .novedades {
        grid-template-columns: 1fr;
    }
    .redes-sociales img{
        height: 30px;
        margin-left: 5px;
    }
    .card img{
        max-width: 100%;
    }
    .card{
        display: flex ;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1 5%;
    }
    .info-empresa div{
        display: flex;
        flex-direction: column;
        padding: 3% 0;
    }
    .vuela{
        display: none;
    }
    .vuela2{
        display: inherit;
    }
    .unidades-de-negocio{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: center;
        color: #006864;
        font-family: 'Poppins', sans-serif;
        font-size: .8rem;
        gap: 3%;
        padding: 10% 0;
    }
    main .container{
        width: 100%;
    }
}