footer{
    @extend nav;
    padding: 1%;
    flex-wrap:unset;
    color: $color-secundario;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;


    .clientes-proveedores{
        a{
            color: $color-secundario;
            text-decoration: none;
        }
        ul{
            list-style-type: none;
        }
    }
    .redes-sociales{
        img{
            height: 35px;
            margin-left: 5px;
        }
    }
       
}

