footer{
    @include flex (none, none, space-between, center);
    background-color: $color-header-footer;
    padding: 1%;
    color: $color-secundario;
    text-decoration: none;
    font-weight: 700;
    align-items: center;
    font-family: 'Poppins', sans-serif;

    .clientes-proveedores{
        a{
            color: $color-secundario;
            text-decoration: none;
        }
        ul{
            list-style-type: none;
            margin-bottom: 0;
        }
    }
    .redes-sociales{
        img{
            height: 35px;
            margin-left: 5px;
        }
    }
    div{
        p{
            color: $color-secundario;
            font-weight: map-get($grosorfuentes , titulos );
            margin-bottom: 0;
        }
    }
       
}

