.productos-expo{
    background-color: $color-principal;
    h1{
        color: white;
    }
    h2{
        color: white
    }
    section{
        @include flex (none, wrap, center, none);
        align-items: center;
        min-height: 100vh;
        background-color: $color-principal;
        padding: 5% 0;
    }
}

