.main{
    background-image:url(../../assets/img/fondo-1440-1501.jpg);
    background-size: cover;
    padding: 2% 5%;
    .historia{
        text-align: center;
        color: $color-principal;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        .video{
            max-width: 100%;
        }
    }
    .unidades-de-negocio{
        @include grid(1fr 1fr, 1fr, none, 3%);
        text-align: center;
        color: $color-principal;
        font-family: 'Poppins', sans-serif;
        font-size: .8rem;
        padding: 2% 0;
        img{
            max-width: 100%;
        }
        p{
            margin: 2%;
            font-weight: map-get($grosorfuentes , parrafos );
        }
        div{
            .vuela2{
                display: none;
            }
        }
    }
}

